<html layout:decorate="~{global/usrLayout}">

<head>
    <title>주문 [[${order.id}]]번</title>

    <script src="https://js.tosspayments.com/v1/payment-widget"></script>

    <script th:inline="javascript">
        const orderId = /*[[ ${order.id} ]]*/ null;
        const orderCode = /*[[ ${order.code} ]]*/ null;
        const buyerUsername = /*[[ ${order.buyer.username} ]]*/ null;
        const orderName = /*[[ ${order.placeName} ]]*/ null;
        const orderPayPrice = /*[[ ${order.price} ]]*/ null;
        const toss_clientKey = /*[[ ${@environment.getProperty('custom.tossPayments.widget.clientKey')} ]]*/ null;
    </script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div layout:fragment="content" class="p-5">

    <h1 class="text-3xl font-bold mb-4">결제정보</h1>

    <a th:if="${order.cancelable}"
       onclick="return confirm('정말로 취소하시겠습니까?');"
       method="DELETE"
       th:href="|${order.id}/cancel?redirectUrl=${@rq.encodedCurrentUrl}|"
       class="btn btn-sm btn-secondary"
    >주문취소</a>

    <button onclick="history.back();" class="btn btn-primary btn-sm">뒤로가기</button>

    <div class="mt-6">
        <div class="mb-2">주문번호: [[${order.id}]]</div>
        <div class="mb-2">주문코드: [[${order.code}]]</div>
        <div class="mb-2">주문자: [[${order.buyer.username}]]</div>
        <div class="mb-2">주문상품: [[${order.placeName}]]</div>
        <div class="mb-2">결제금액: [[${order.price}]]</div>
        <div class="mb-2">결제상태: [[${order.forPrintPayStatus}]]</div>
        <div class="mb-2">취소상태: [[${order.forPrintCancelStatus}]]</div>
        <div class="mb-2">환불상태: [[${order.forPrintRefundStatus}]]</div>
    </div>

    <th:block th:if="${order.payable}">

        <!-- 결제 UI -->
        <div id="payment-method" class="mt-8"></div>

        <!-- 이용약관 UI -->
        <div id="agreement" class="mt-4"></div>

        <!-- 결제하기 버튼 -->
        <form method="POST" th:action="|/order/${order.id}|" onsubmit="submitPayForm(this); return false;">
            <div class="mt-6">
                <label class="text-gray-700">고객 이메일</label>
                <input type="email" name="customerEmail" placeholder="customer@email.com"
                       class="input input-bordered w-full" th:value="${order.buyer.email}">
            </div>

            <div class="mt-4">
                <label class="text-gray-700">고객 이름(실명)</label>
                <input type="text" name="customerName" placeholder="홍길동" class="input input-bordered w-full"
                       th:value="${order.buyer.memberName}">
            </div>

            <div class="mt-4">
                <label class="text-gray-700">고객 휴대전화번호(- 포함)</label>
                <input type="text" name="customerMobilePhone" placeholder="010-1234-1234"
                       class="input input-bordered w-full" th:value="${order.buyer.phoneNumber}">
            </div>

            <div class="mt-4">
                <button type="submit" id="payment-button" class="btn btn-primary w-full">결제하기</button>
            </div>
        </form>

        <script>
            const button = document.getElementById("payment-button");
            var amount = orderPayPrice;

            const clientKey = toss_clientKey;
            const customerKey = buyerUsername;
            const paymentWidget = PaymentWidget(clientKey, customerKey); // 회원 결제

            // ------  결제 UI 렌더링 ------
            paymentMethodWidget = paymentWidget.renderPaymentMethods(
                "#payment-method",
                {value: amount},
                {variantKey: "DEFAULT"}
            );

            // ------  이용약관 UI 렌더링 ------
            paymentWidget.renderAgreement("#agreement", {variantKey: "AGREEMENT"});

            function submitPayForm(form) {
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
                const csrfToken = document.querySelector('meta[name="_csrf"]').content;

                form.customerEmail.value = form.customerEmail.value.trim();

                if (form.customerEmail.value.length === 0) {
                    toastWarning("고객 이메일을 입력해주세요.");
                    form.customerEmail.focus();
                    return;
                }

                form.customerName.value = form.customerName.value.trim();

                if (form.customerName.value.length === 0) {
                    toastWarning("고객 이름(실명)을 입력해주세요.");
                    form.customerName.focus();
                    return;
                }

                form.customerMobilePhone.value = form.customerMobilePhone.value.trim();

                if (form.customerMobilePhone.value.length === 0 || !form.customerMobilePhone.value.includes('-') || form.customerMobilePhone.value.length !== 11) {
                    toastWarning("고객 휴대전화번호를 입력해주세요.<br>(- 포함) (숫자 11자리로만 입력해주세요.)");
                    form.customerMobilePhone.focus();
                    return;
                }

                const headers = {
                    "Content-Type": "application/json",
                }
                headers[csrfHeader] = csrfToken;
                const dataBody = {
                    customerEmail: form.customerEmail.value,
                    customerName: form.customerName.value,
                    customerMobilePhone: form.customerMobilePhone.value
                }

                fetch(`${window.location.origin}/order/${orderId}`, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(dataBody),
                }).then(
                    resp => resp.json()
                ).then(
                    data => {
                        console.log(data);
                    }
                ).catch(err => console.log(err));

                paymentWidget.requestPayment({
                    orderId: orderCode,
                    orderName: orderName,
                    successUrl: window.location.origin + "/order/success",
                    failUrl: window.location.origin + "/order/fail",
                    customerEmail: form.customerEmail.value,
                    customerName: form.customerName.value,
                    customerMobilePhone: form.customerMobilePhone.value,
                });
            }
        </script>

    </th:block>
</div>

</body>

</html>
