<html layout:decorate="~{global/usrLayout}">

<head>
    <title>내 주문</title>
    <!-- DaisyUI 스타일시트 및 Tailwind CSS 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<div layout:fragment="content" class="p-5">

    <form class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
        <select class="select select-bordered" name="cancelStatus" onchange="$(this).closest('form').submit()"
                th:value="${param.cancelStatus}">
            <option value="">취소상태 - 전체</option>
            <option value="true">취소완료</option>
            <option value="false">취소(x)</option>
        </select>
        <select class="select select-bordered" name="payStatus" onchange="$(this).closest('form').submit()"
                th:value="${param.payStatus}">
            <option value="">결제상태 - 전체</option>
            <option value="true">결제완료</option>
            <option value="false">결제(x)</option>
        </select>
        <select class="select select-bordered" name="refundStatus" onchange="$(this).closest('form').submit()"
                th:value="${param.refundStatus}">
            <option value="">환불상태 - 전체</option>
            <option value="true">환불완료</option>
            <option value="false">환불(x)</option>
        </select>
    </form>

    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <li class="card bg-base-100 shadow-xl" th:each="order : ${orderPage.content}">
            <div class="card-body">
                <h2 class="card-title flex justify-between items-center">[[${order.id}]] : [[${order.placeName}]]</h2>
                <div>
                    <div class="flex justify-between items-center">코드: [[${order.code}]]</div>
                    <div class="flex justify-between items-center">결제금액: [[${order.price}]] 원</div>
                    <div>결제상태: [[${order.forPrintPayStatus}]]</div>
                    <div>취소상태: [[${order.forPrintCancelStatus}]]</div>
                    <div>환불상태: [[${order.forPrintRefundStatus}]]</div>
                </div>
                <div class="card-actions flex justify-end mt-2">
                    <a
                            th:if="${order.cancelable}"
                            onclick="return confirm('정말로 취소하시겠습니까?');"
                            method="DELETE"
                            th:href="|${order.id}/cancel?redirectUrl=${@rq.encodedCurrentUrl}|"
                            class="btn btn-sm btn-secondary mr-2"
                    >주문취소</a>
                    <a th:href="|${order.id}|" class="btn btn-sm btn-primary">자세히 보기</a>
                </div>
            </div>
        </li>
    </ul>

    <div class="flex justify-center mt-4">
        <th:block th:with="queryStrBase = ${@rq.getCurrentQueryStringWithoutParam('page')}">
            <th:block th:replace="global/fragments/pagination :: pagination(${orderPage}, ${queryStrBase}, 3)">

            </th:block>
        </th:block>
    </div>
</div>

</body>

</html>
