<main>
    <h2>새로운 예약 생성</h2>
    <div>
        <label>판매자명</label>
        <input type="text" name="seller">
        <hr>
        <label for="select_place">장소 선택</label>
        <select name="place" id="select_place">
            <option value="장소1">장소1</option>
            <option value="장소2">장소2</option>
            <option value="장소3">장소3</option>
        </select>
        <hr>
        <fieldset>
        <legend>type</legend>
        <label for="leisure">레저</label>
        <input type="radio" id="leisure" value="레저" name="type">
        <label for="accommodate">숙박</label>
        <input type="radio" id="accommodate" value="숙박" name="type">
        </fieldset>
    </div>
    <button onclick="location.href='/reserve/create/detail'">옵션생성</button>
</main>