<main>
    <h1>장소 관리페이지</h1>
    <section>

        <h2>[[${place.name}]]의 예약서비스 목록</h2>
        <div th:each="reservation, index : ${reservationList}">
            <article>
                <h3>예약 [[${index.index}]]</h3>
                <div><span>구분 : </span><span th:text="${reservation.type}"></span></div>
                <a th:href="|/reserve/modify/${reservation.id}|">수정하기</a>
                <div th:if="${!reservation.getOptions().isEmpty()}">
                    <span>옵션 개수 : </span><span th:text="${reservation.getOptions().size()}"></span>
                </div>
            </article>
            <hr>
            <article>
            <h4>옵션</h4>
                <div th:each="option, index : ${reservation.getOptions()}">
                    <h5>옵션 세부사항 [[${index.index + 1}]]</h5>
                    <div>시작 날짜 : [[${option.startDate}]]</div>
                    <div>끝   날짜 : [[${option.endDate}]]</div>
                    <div>시간 : [[${option.time}]]</div>
                    <div>가격 : [[${option.price}]]</div>
                    <a th:href="|/reserve/modify/detail/${option.id}|">옵션설정</a>
                </div>

            </article>
        </div>

    </section>
</main>