<html layout:decorate="~{global/usrLayout}">
<head>
    <title>업체 - 장소 관리페이지</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content">
<main>
    <h1>장소 관리페이지</h1>
    <a th:href="|/reserve/${place.getId()}/create|">예약 추가</a>
    <section>

        <h2>[[${place.name}]]의 예약서비스 목록</h2>
        <a th:if="${reservationList == null}" th:href="|/reserve/${place.getId()}/create|">예약 만들기</a>
        <div th:each="reservation, index : ${reservationList}">
            <article>
                <hr>
                <h3>예약 [[${index.index + 1}]]</h3>
                <div><span>구분 : </span><span th:text="${reservation.type}"></span></div>
                <a th:href="|/reserve/modify/${reservation.id}|">수정하기</a>
                <a method="DELETE" th:href="|/reserve/delete/${reservation.id}|" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제하기</a>
                <div th:if="${!reservation.getOptions().isEmpty()}">
                    <span>옵션 개수 : </span><span th:text="${reservation.getOptions().size()}"></span>
                </div>
            </article>
            <hr>
            <article>
                <h4>옵션</h4>
                <a th:href="|/reserve/create/${reservation.id}/detail|">옵션 추가</a>
                <div th:each="option, index : ${reservation.getOptions()}">
                    <h5>옵션 세부사항 [[${index.index + 1}]]</h5>
                    <div>시작 날짜 : [[${option.startDate}]]</div>
                    <div>끝 날짜 : [[${option.endDate}]]</div>
                    <div>시간 : [[${option.time}]]</div>
                    <div>가격 : [[${option.price}]]</div>
                    <a th:href="|/reserve/modify/${reservation.id}/detail/${option.id}|">옵션설정</a>
                    <a method="DELETE" th:href="|/reserve/delete/${reservation.id}/${option.id}|">옵션 삭제</a>
                </div>
                </article>
            </div>

        </section>
    </main>
</div>
</body>
</html>
