<html layout:decorate="~{global/usrLayout}">

<head>
    <title>업체 - 예약 수정</title>
</head>

<body>

<div layout:fragment="content">

    <main>
        <h2 class="text-xl font-bold">예약 수정</h2>
        <div class="card bg-base-100 shadow-xl">
            <form class="card-body" th:method="PUT" th:action id="reservationForm">
                <div class="card-title">
                    <div>장소명 : [[${reservation.getPlace().name}]]</div>
                </div>
                <div>판매자명 : [[${reservation.getSeller().getUsername()}]]</div>
                <input type="hidden" name="seller" th:value="${reservation.getSeller().getUsername()}">
                <hr>
                <input hidden name="place" type="text" th:value="${reservation.getPlace().id}">
                <hr>
                <fieldset>
                    <legend class="text-lg font-bold">Type</legend>
                    <div class="form-control w-96 m-4" th:each="entry : ${reservationTypes}">
                        <label class="label cursor-pointer" th:for="${entry.key}">
                            <span class="label-text">[[${entry.value}]]</span>
                            <input type="radio" th:id="${entry.key}" th:value="${entry.key}" name="type"
                                   th:checked="${reservation.getType().toString() == entry.key}"
                                   class="radio checked:bg-blue-500">
                        </label>
                    </div>
                </fieldset>

                <div class="flex justify-end">
                    <button class="btn btn-primary m-2" type="submit">예약 수정</button>
                    <a class="btn btn-primary m-2" th:href="|/reserve/manage/${reservation.getPlace().id}|">관리페이지</a>
                </div>
            </form>
        </div>
    </main>
</div>

</body>

</html>