<main>
    <section>
        <div>장소</div>
        <span th:text="${place != null ? place.getName() : '장소를 찾을 수 없습니다.'}"></span>
        <a th:if="${place != null}" th:href="|/reserve/manage/${place.id}|">관리페이지</a>

        <div>
            <label>
                <span>시작일</span>
                <input type="date" id="startDate">
            </label>
            <label>
                <span>종료일</span>
                <input type="date" id="endDate">
            </label>
            <button onclick="makeSearchParam()">검색</button>
        </div>
        <hr>
        <!--예약가능 리스트 보여주기-->
        <section th:if="${reservationList != null}">
            <th:block th:each="reservation, dex : ${reservationList}">
                <div th:text="${dex}"></div>
                <div th:text="${reservation.options.size()}"></div>
                <th:block th:each="option, index : ${reservation.options}"
                     th:if="${!reservation.options.isEmpty()}">
                    <article th:if="${!option.occupied}">
                        <div th:text="${index}"></div>
                        <div>
                            <span th:text="${reservation.getType()}"></span>
                        </div>
                        <div>
                            <span>예약시간 : </span><span th:text="${option.time}"></span><span
                                th:if="${option.occupied}">예약됨</span>
                        </div>
                        <div>
                            <span>가격 : </span><span th:text="${option.price}"></span><span>원</span>
                        </div>
                        <a th:href="|/order/${place.id}/${reservation.id}/${option.id}|">예약하기</a>
                    </article>
                </th:block>
            </th:block>
        </section>
        <section th:if="${reservationList == null}">
            <div>예약을 생성해주세요.</div>
        </section>
        <hr>
        <hr>
<!--        <section>-->
<!--            <div th:each="page : ${pages}">-->
<!--                <div th:each="reservationpage : ${page}">-->
<!--                    <div th:if="${!reservationpage.getOptions().isEmpty()}">-->
<!--                        <div th:each="optionpage : ${reservationpage.getOptions()}">-->
<!--                            <article th:if="${!optionpage.occupied}">-->
<!--                                <div>-->
<!--                                    <span th:text="${reservationpage.getType()}"></span>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span>예약시간 : </span><span th:text="${optionpage.time}"></span><span-->
<!--                                        th:if="${optionpage.occupied}">예약됨</span>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <span>가격 : </span><span th:text="${optionpage.price}"></span><span>원</span>-->
<!--                                </div>-->
<!--                                <a th:href="|/order/${place.id}/${reservationpage.id}/${optionpage.id}|">예약하기</a>-->
<!--                            </article>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
    </section>
</main>
<script>
    function makeSearchParam() {
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;

        console.log(startDate);
        console.log(endDate);

        const searchParams = new URLSearchParams({
                startDate: startDate,
                endDate: endDate
            }
        );

        const queryString = searchParams.toString();

        const currentURL = window.location.href.split("\?").at(0);

        console.log(currentURL);

        window.location.href = currentURL + "?" + queryString;
    }
</script>