<html layout:decorate="~{global/usrLayout}">

<head>
    <title>업체 - 예약 정보</title>
    <!-- DaisyUI 스타일시트 및 Tailwind CSS 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-5">

<div layout:fragment="content">

    <main class="bg-white rounded-lg shadow-md p-8">
        <section>
            <div class="font-bold text-lg mb-4">장소</div>
            <span th:text="${place != null ? place.getName() : '장소를 찾을 수 없습니다.'}"></span>
            <a th:if="${place != null}" th:href="|/reserve/manage/${place.id}|" class="text-blue-500">관리페이지</a>

            <div class="mt-4">
                <label class="block mb-2">
                    <span class="text-gray-700">시작일</span>
                    <input type="date" id="startDate" class="form-input mt-1 block w-full" placeholder="시작일을 선택하세요">
                </label>
                <label class="block mb-2">
                    <span class="text-gray-700">종료일</span>
                    <input type="date" id="endDate" class="form-input mt-1 block w-full" placeholder="종료일을 선택하세요">
                </label>
                <button onclick="makeSearchParam()" class="btn btn-primary">검색</button>
            </div>
            <hr class="my-8 border-gray-300">

            <!--예약가능 리스트 보여주기-->
            <section th:if="${reservationList != null}">
                <div th:each="reservation : ${reservationList}" class="mb-4">
                    <div th:if="${!reservation.getOptions().isEmpty()}">
                        <div th:each="option : ${reservation.getOptions()}" class="mb-2">
                            <div class="font-bold mb-1" th:text="${reservation.getType()}"></div>
                            <div class="flex items-center">
                                <span class="mr-2">예약시간 :</span>
                                <span th:text="${option.time}"></span>
                                <span th:if="${option.occupied}" class="text-red-500 ml-2">예약됨</span>
                            </div>
                            <div>
                                <span class="mr-2">가격 :</span>
                                <span th:text="${option.price}"></span><span class="ml-1">원</span>
                            </div>
                            <button class="btn btn-primary mt-2">예약하기</button>
                        </div>
                    </div>
                </div>
            </section>
            <section th:if="${reservationList == null}">
                <div>예약을 생성해주세요.</div>
            </section>
        </section>
    </main>

</div>

<script>
    function makeSearchParam() {
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;

        console.log(startDate);
        console.log(endDate);

        const searchParams = new URLSearchParams({
                startDate: startDate,
                endDate: endDate
            }
        );

        const queryString = searchParams.toString();

        const currentURL = window.location.href.split("\?").at(0);

        console.log(currentURL);

        window.location.href = currentURL + "?" + queryString;
    }
</script>

</body>

</html>
