<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 상세 정보</title>
</head>
<body>
<div class="container">
  <h1 th:text="${post.title}">게시물 제목</h1>
  <p th:text="${'카테고리: ' + post.category}">카테고리</p>

  <div th:if="${!post.postPlaces.empty}">
    <h2>장소 목록</h2>
    <ul>
      <div th:each="placeReview : ${postPlaceReviewList}">
        <div>
          <h3 th:text="${'장소 이름: ' + placeReview.place.name}">장소 이름</h3>
          <p th:text="${'좌표: ' + placeReview.place.coordinate}">좌표</p>
          <p th:text="${'평점: ' + placeReview.rating}">평점</p>
          <p th:text="${'리뷰 내용: ' + placeReview.review}">리뷰 내용</p>
        </div>
      </div>
    </ul>
  </div>

  <a th:href="@{/post/list}">게시물 목록으로 돌아가기</a>
</div>
</body>
</html>
