<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <!-- 필요한 CSS 파일 추가 -->
</head>
<body>
<div class="container">
    <h1>게시글 작성</h1>
    <form th:action="@{/post/create}" th:object="${postCreateForm}" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요" />
        </div>

        <div class="form-group">
            <label for="category">카테고리</label>
            <select id="category" th:field="*{category}">
                <option value="서울">서울</option>
                <option value="경기">경기</option>
                <option value="인천">인천</option>
                <option value="강원">강원</option>
                <option value="경상">경상</option>
                <option value="충청">충청</option>
                <option value="전라">전라</option>
                <option value="제주">제주</option>
            </select>
        </div>

        <div id="placeList">
            <div th:each="placeName, iterStat : *{placeNames}">
                <div class="form-group">
                    <label th:for="${'placeName' + iterStat.index}">장소 이름</label>
                    <input type="text" th:id="${'placeName' + iterStat.index}" th:field="*{placeNames[__${iterStat.index}__]}" placeholder="장소 이름을 입력하세요" />
                </div>

                <div class="form-group">
                    <label th:for="${'coordinate' + iterStat.index}">좌표</label>
                    <input type="text" th:id="${'coordinate' + iterStat.index}" th:field="*{coordinates[__${iterStat.index}__]}" placeholder="좌표를 입력하세요" />
                </div>

                <div class="form-group">
                    <label th:for="${'rating' + iterStat.index}">평점</label>
                    <input type="number" th:id="${'rating' + iterStat.index}" th:field="*{ratings[__${iterStat.index}__]}" min="1" max="5"/>
                </div>

                <div class="form-group">
                    <label th:for="${'review' + iterStat.index}">리뷰</label>
                    <textarea th:id="${'review' + iterStat.index}" th:field="*{reviews[__${iterStat.index}__]}" placeholder="리뷰를 작성하세요"></textarea>
                </div>
            </div>
        </div>
        <button type="button" onclick="addPlaceInput()">장소 추가</button>


        <button type="submit">작성하기</button>
    </form>
</div>
</body>
<script>
    function addPlaceInput() {
        var placeList = document.getElementById("placeList");
        var index = placeList.children.length / 2;
        var newPlaceInput = document.createElement("div");

        newPlaceInput.innerHTML = `
        <div class="form-group">
            <label>장소 이름</label>
            <input type="text" name="placeNames[${index}]" placeholder="장소 이름을 입력하세요" />
        </div>
        <div class="form-group">
            <label>좌표</label>
            <input type="text" name="coordinates[${index}]" placeholder="좌표를 입력하세요" />
        </div>
        <div class="form-group">
            <label>평점</label>
            <input type="number" name="ratings[${index}]" min="1" max="5" placeholder="평점을 입력하세요 " />
        </div>
        <div class="form-group">
            <label>리뷰</label>
            <textarea name="reviews[${index}]" placeholder="리뷰를 작성하세요"></textarea>
        </div>`;
        placeList.appendChild(newPlaceInput);
    }
</script>
</html>