   <!DOCTYPE html>
<html layout:decorate="~{global/usrLayout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세 정보</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1110141fa1f2c03d5f7f689ec5fb2e71&libraries=services"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.0.6/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4" layout:fragment="content">
    <div id="map" style="width:100%;height:350px;"></div>
    <div class="container mx-auto py-8">
        <div class="bg-white rounded-lg shadow-lg p-8">
            <h1 class="text-3xl font-bold mb-4 text-center" th:text="${post.title}">게시물 제목</h1>
            <p class="text-gray-600 mb-4 text-center" th:text="${'카테고리: ' + post.category}">카테고리</p>


            <div th:if="${!post.postPlaces.empty}">
                <h2 class="text-xl font-semibold mb-2 text-center">장소 목록</h2>
                <div th:each="postPlace, postPlaceIndex : ${post.postPlaces}">
                    <div class="mt-4 border-t pt-4" th:if="${postPlaceIndex.index != 0}"></div>
                    <div class="mt-4 text-center">
                        <h3 class="font-semibold" th:text="${'장소 이름: ' + postPlace.place.name}">장소 이름</h3>
                        <p class="text-gray-600" th:text="${'주소: ' + postPlace.place.address}">주소</p>
                        <div th:if="${postPlace.postPlacePlaceReview != null}">
                            <p class="text-gray-600" th:text="${'평점: ' + postPlace.postPlacePlaceReview.placeReview.rating}">평점</p>
                            <p class="text-gray-600" th:text="${'리뷰 내용: ' + postPlace.postPlacePlaceReview.placeReview.review}">리뷰 내용</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-between items-center mt-8">
                <div class="space-x-2 text-center">
                    <!-- 수정된 부분: 버튼 클릭 이벤트 핸들러 함수 추가 -->
                    <a href="javascript:void(0);" class="btn btn-blue recommend" th:attr="data-uri=@{/post/vote/{postId}(postId=${post.id})}">
                        추천 <span class="text-sm" th:text="${#lists.size(post.voter)}"></span>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-red delete" th:attr="data-uri=@{/post/delete/{postId}(postId=${post.id})}"
                       sec:authorize="isAuthenticated()"
                       th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>

            <div class="mt-8 text-center">
                <h5 class="text-sm text-gray-600" th:text="|${#lists.size(post.commentList)}개의 답변이 있습니다.|"></h5>
                <div th:each="comment : ${post.commentList}" class="mt-4">
                    <div class="bg-gray-100 rounded-lg p-4 border border-gray-300">
                        <div class="text-gray-800 text-left" th:text="${comment.content}"></div>
                        <div class="flex justify-between items-center mt-2">
                            <div>
                                <span class="text-sm font-semibold" th:if="${comment.author != null}" th:text="${comment.author.username}"></span>
                            </div>
                            <div class="text-sm text-gray-600" th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        <div class="mt-2">
                            <a th:href="@{|/comment/modify/${comment.id}|}" sec:authorize="isAuthenticated()"
                               th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                               class="text-blue-500">수정</a>
                            <a href="javascript:void(0);" th:attr="data-uri=@{|/comment/delete/${comment.id}|}"
                               class="text-red-500 ml-2 delete" sec:authorize="isAuthenticated()"
                               th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                               th:text="삭제"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 댓글 입력 폼 -->
            <div class="mt-8 text-center">
                <!-- 로그인한 사용자에게만 댓글 입력 창 표시 -->
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{|/comment/create/${post.id}|}" th:object="${commentCreateForm}" method="post" class="mt-8 bg-white rounded-lg shadow-lg p-8">
                        <textarea th:if="${#authorization.expression('isAuthenticated()')}" th:field="*{content}" class="form-textarea w-full" rows="10" placeholder="댓글을 입력하세요"></textarea>
                        <input type="submit" value="답변등록" class="btn btn-blue mt-4">
                    </form>
                </div>
                <!-- 로그인하지 않은 사용자에게는 안내 메시지 표시 -->
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <p>댓글을 작성하려면 로그인이 필요합니다.</p>
                    <a class="btn btn-blue mt-4"  href="/member/signin">로그인</a>
                    <a class="btn btn-blue mt-4" href="/member/signup">회원가입</a>
                </div>
            </div>

            <!-- 게시물 목록으로 돌아가기 링크 -->
            <div class="text-center mt-8">
                <a th:href="@{/post/list}" class="text-blue-500">게시물 목록으로 돌아가기</a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const laMas = JSON.parse(/*[[${laMas}]]*/ []);
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                //지도의 중심좌표
                center: new kakao.maps.LatLng(parseFloat(laMas[0].la),parseFloat(laMas[0].ma)),

                level: 7 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
        var bounds = new kakao.maps.LatLngBounds();

        let isFirst = true;



        laMas.forEach((lama, index) => {
            addSelectedMarker(lama, index);

        })
        function addSelectedMarker({la, ma}, index) {

            var imageSrc ="/images/marker_number_red.png", // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions =  {
                    spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                    spriteOrigin : new kakao.maps.Point(0, (index*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(la, ma), // 마커의 위치
                    image: markerImage
                });

            marker.setMap(map)

            var clickPosition = new kakao.maps.LatLng(la, ma)



            if (isFirst) {

                isFirst = false;
                // 클릭한 위치를 기준으로 선을 생성하고 지도위에 표시합니다
                clickLine = new kakao.maps.Polyline({
                    map: map, // 선을 표시할 지도입니다
                    path: [clickPosition], // 선을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
                    strokeWeight: 5, // 선의 두께입니다
                    strokeColor: '#db4040', // 선의 색깔입니다
                    strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                    strokeStyle: 'solid' // 선의 스타일입니다
                });
            } else {
                // 그려지고 있는 선의 좌표 배열을 얻어옵니다
                var path = clickLine.getPath();

                // 좌표 배열에 클릭한 위치를 추가합니다
                path.push(clickPosition);

                // 다시 선에 좌표 배열을 설정하여 클릭 위치까지 선을 그리도록 설정합니다
                clickLine.setPath(path);
            }
        }

        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        // marker.setMap(null);
    </script>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
    /* 스크립트 내용 생략 */
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.getAttribute('data-uri');
            };
        });
    });

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.getAttribute('data-uri');
            };
        });
    });
</script>

</html>
