<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<header layout:fragment="header">

    <a class="btn btn-link" href="/post/list">홈</a>
    <a class="btn btn-link" href="/product/list">상품</a>
    <a class="btn btn-link" th:if="${@rq.admin}" href="/adm">관리자 홈</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/product/bookmarkList">찜 상품</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/order/myList">내 주문</a>
    <a class="btn btn-link" th:if="${@rq.login}" href="/member/logout">로그아웃</a>
    <a class="btn btn-link" th:if="${@rq.logout}" href="/member/signin">로그인</a>
    <a class="btn btn-link" th:if="${@rq.logout}" href="/member/signup">회원가입</a>
</header>

</body>

</html>