<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1110141fa1f2c03d5f7f689ec5fb2e71&libraries=services"></script>
</head>

<body>

<header layout:fragment="header" class="p-5 bg-white shadow-md mb-4">

    <nav class="flex justify-between items-center">

        <div class="space-x-4">
            <button class="btn btn-primary"><a href="/post/list">홈</a></button>
            <button class="btn btn-primary"><a href="/reserve/list">장소 예약</a></button>
            <button class="btn btn-primary" th:if="${@rq.admin}"><a href="/adm">관리자 홈</a></button>
        </div>

        <div class="space-x-4">
            <button class="btn btn-primary" th:if="${@rq.login}"><a href="/product/bookmarkList">찜 상품</a></button>
            <button class="btn btn-primary" th:if="${@rq.login}"><a href="/order/myList">내 주문</a></button>
            <button class="btn btn-primary" th:if="${@rq.login}"><a href="/member/logout">로그아웃</a></button>
            <button class="btn btn-primary" th:if="${@rq.logout}"><a href="/member/signin">로그인</a></button>
            <button class="btn btn-primary" th:if="${@rq.logout}"><a href="/member/signup">회원가입</a></button>
        </div>

    </nav>

</header>

</body>

</html>
