<html layout:decorate="~{global/usrLayout}">

<head>
    <title>회원가입</title>
</head>

<body>
<div layout:fragment="content">
    <div class="my-3 border-bottom">
        <div class="flex justify-center">
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="text" placeholder="아이디" th:field="*{username}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="password" placeholder="비밀번호" th:field="*{password}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="password" placeholder="비밀번호 확인" th:field="*{passwordConfirm}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="email" placeholder="이메일" th:field="*{email}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="text" placeholder="이름" th:field="*{memberName}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="text" placeholder="닉네임" th:field="*{nickname}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="date" placeholder="생년월일" th:field="*{birthDate}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>
        <div class="mb-8">
            <div class="flex justify-center">
                <input type="tel" placeholder="휴대폰 번호" th:field="*{phoneNumber}"
                       class="border border-blue-500 px-3 py-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2">
            </div>
        </div>

        <div class="mb-8">
            <div class="flex justify-center">
                <button type="submit" class="btn btn-primary border border-blue-500 px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent block w-1/2 hover:bg-blue-400">회원가입</button>
            </div>
        </div>


    </form>

    <script src="https:cdn.tailwindcss.com/3.4.1">
    </script>
</div>
</body>

</html>
